@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&display=swap');

:root {
  --primary-accent: #0097a7;
  --secondary-accent: #009688;
  --primary-text: #ffffff;
  --secondary-text: #757575;
  --divider: #bdbdbd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-accent);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
}
h1 {
  font-size: 52px;
  font-style: italic;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
}

.message,
.result {
  color: var(--primary-text);
  font-size: 24px;
  text-align: center;
  margin: 16px auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section {
  padding: 10px;
  border: 3px solid var(--divider);
  border-radius: 50%;
  transition: transform 0.2s;
}
.section:hover {
  transform: scale(1.1);
}

img {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
}

.footer {
  background-color: var(--secondary-accent);
  color: var(--primary-text);
  font-size: 16px;
  text-align: center;
  padding: 8px;
}
.heart {
  color: #ff0000;
}
