@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&display=swap');

:root {
  --primary-accent: #0097a7;
  --secondary-accent: #4287f5;
  --primary-text: #ffffff;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --won: #0000ff;
  --lost: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-accent);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
}
h1 {
  font-size: 52px;
  font-style: italic;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
}

.message,
.result,
.score,
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--primary-text);
  margin: 5px;
}

.score {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section {
  padding: 10px;
  border: 3px solid var(--divider);
  border-radius: 50%;
  transition: transform 0.2s;
}
.section:hover {
  transform: scale(1.1);
}

img {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
}

.footer {
  background-color: #4287f5;
  color: var(--primary-text);
  font-size: 16px;
  text-align: center;
  padding: 8px;
}
.heart {
  color: var(--lost);
}
.lost {
  color: var(--lost);
}
.won {
  color: var(--won);
}
.btn {
  background-color: var(--secondary-accent);
  border: 1px solid var(--divider);
  border-radius: 28px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-text);
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.1);
}
a,
a:link,
a:visited {
  color: var(--primary-text);
}
